<div class="class col-md-8 col-md-offset-8">
    <form (NgSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text"
                   id="firstname"
                   class="form-control"
                   ngModel
                   name="firstname"
                   required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text"
                   id="lastname"
                   class="form-control"
                   ngModel
                   name="lastname"
                   required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   ngModel
                   name="email"
                   required>
        </div>
        <div class="form-group">
            <label for="donation">Donation</label>
            <input type="text"
                   id="donation"
                   class="form-control"
                   ngModel
                   name="donation"
                   required>
        </div>
        <div class="form-group">
            <label for="shirt">Would you like a Tee Shirt?</label>
            <input type="text"
                   id="shirt"
                   class="form-control"
                   ngModel
                   name="shirt"
                   required>
        </div>
        <div class="form-group">
            <label for="shirtsize">What is your shirt size?</label>
            <input type="text"
                   id="shirtsize"
                   class="form-control"
                   ngModel
                   name="shirtsize"
                   required>
        </div>
    </form>
    <button class="btn btn-primary" type="submit" [disabled]=!f.valid>Save</button>
</div>